h1 {
  text-align: center;
  font: 60px Monaco, sans-serif;
  color: #3e424b;
}

body {
  background-color: white;
}

.page {
  width: 1350px;
  background-color: white;
  background-image: url("Vis Background.jpg");
  margin: auto;
  padding: 50px;
  padding-top: 35px;
}

.bar-vis-container {
  width: 125%;
  border-style: solid;
  border-color: #3e424b;
  border-width: 5px;
  background-color: white;
}

.tree-vis-container {
  width: 100%;
  border-style: solid;
  border-color: #3e424b;
  border-width: 5px;
  background-color: white;
}

.bubble-vis-container {
  width: 100%;
  border-style: solid;
  border-color: #3e424b;
  border-width: 5px;
  background-color: white;
}

.map-vis-container {
  width: 100%;
  border-style: solid;
  border-color: #3e424b;
  border-width: 5px;
  margin-bottom: 40px;
  background-color: white;
}

.text-container {
  width: 100%;
  border-style: solid;
  border-color: #3e424b;
  border-width: 5px;
  text-align: center;
  font: 15px Tahoma, sans-serif;
  background-color: white;
}

.description h2,
h1 {
  margin-top: 0px;
}

.description-right {
  padding-left: 20px;
}

.pure-g {
  margin-bottom: 40px;
}

.small-font {
  font-size: 14px;
}

.title-font {
  padding-left: 175px;
  font: "Comic Sans";
  font-size: 30px;
}
